@import "tailwindcss";

@theme {
  --color-primary: #A3C551;
  --color-secondary: #C5C7F3;
  --color-accent: #D3A2DD;
}

@font-face {
  font-family: 'Tajwal';
  src: url('./assets/tajwal/Tajawal-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Tajwal';
  src: url('./assets/tajwal/Tajawal-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Tajwal';
  src: url('./assets/tajwal/Tajawal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tajwal';
  src: url('./assets/tajwal/Tajawal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tajwal';
  src: url('./assets/tajwal/Tajawal-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Tajwal';
  src: url('./assets/tajwal/Tajawal-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Tajwal';
  src: url('./assets/tajwal/Tajawal-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
  --default-font-family: Tajwal;
}

html {
  direction: rtl;
  text-align: right;
}
