@import "tailwindcss";

@theme {
  --color-primary: #0aa8a7;
  --color-secondary: #70caca;
  --color-hoverbg: #64adad;
  --spacing-customWidth: 200px;
}

@font-face {
  font-family: 'Tajwal';
  src: url('./assets/tajwal/Tajawal-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Tajwal';
  src: url('./assets/tajwal/Tajawal-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Tajwal';
  src: url('./assets/tajwal/Tajawal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tajwal';
  src: url('./assets/tajwal/Tajawal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tajwal';
  src: url('./assets/tajwal/Tajawal-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Tajwal';
  src: url('./assets/tajwal/Tajawal-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Tajwal';
  src: url('./assets/tajwal/Tajawal-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
  --default-font-family: Tajwal;
  --height-screen: calc(100vh - 56px);
}

html {
  direction: rtl;
  text-align: right;
}

.card-hover-effect::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #0aa8a7;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 1s ease, height 1s ease;
  z-index: -1;
}

.card-hover-effect:hover::before {
  width: 250%;
  height: 300%;
}

.card-hover-effect span {
  position: relative;
  z-index: 1;
}